@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-quicksand: "Quicksand", sans-serif;
  --font-google-sans-code: "Google Sans Code", monospace;
  --font-kumbh-sans: "Kumbh Sans", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  /* Colors */
  --color-background-mint: #aeb5ad;
  --color-bright-500: #f1f2ed;
  --color-bright-400: #e2e3dd;
  --color-dark: #161a14;
  --color-dull: #7e807c;
  --color-accent: #db3444;
  --color-accent-highlight: #ec4e5d;
  --color-army-500: #3c5239;
  --color-army-400: #2a3c2f;
}
