@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

.m-global {
  @apply m-4 sm:m-8;
}

.p-global {
  @apply p-4 sm:p-8;
}

.px-global {
  @apply px-4 sm:px-8;
}

.gap-global {
  @apply gap-4 sm:gap-8;
}

@theme {
  /* Fonts */
  --font-quicksand: "Quicksand", sans-serif;
  --font-google-sans-code: "Google Sans Code", monospace;
  --font-kumbh-sans: "Kumbh Sans", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  /* Colors */
  --color-background-mint: #aeb5ad;
  --color-bright-500: #f1f2ed;
  --color-bright-400: #e2e3dd;
  --color-bright-300: #d7d8d3;
  --color-dark: #161a14;
  --color-dull: #7e807c;
  --color-accent: #db3444;
  --color-accent-highlight: #ec4e5d;
  --color-army-500: #3c5239;
  --color-army-400: #2a3c2f;
}

@layer components {
  .swiper-pagination-bullet {
    @apply bg-dull! opacity-50! w-3! h-3!;
  }

  .swiper-pagination-bullet-active {
    @apply bg-accent! opacity-100!;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}
